.venv
.env
test.py
generated_audio/
*.mp3
*.wav
.ruff_cache
__pycache__/
**/__pycache__/
src/__pycache__

src/api/v1/routers/__pycache__
.ruff_cache
src/config/__pycache__
src/controllers/__pycache__
src/agents/__pycache__
src/api/v1/__pycache__
src/api/v1/routers/__pycache__
src/models/__pycache__/elevenlabs.cpython-313.pyc
src/controllers/__pycache__/generate_video.cpython-313.pyc
src/api/v1/routers/__pycache__/heygen_route.cpython-313.pyc
src/api/v1/routers/__pycache__/elevenlabs_route.cpython-313.pyc
src/api/v1/routers/__pycache__/__init__.cpython-313.pyc
src/api/v1/__pycache__/api.cpython-313.pyc
